#compose{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  .card{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    color: black;
  }

  label{
    font-size: 18px;
  }

  input[type='radio']{
    background-color: white;
    transform: scale(2);
    margin-right: 20px;
    margin-bottom: 15px;
  }
  input[type='checkbox']{
    background-color: white;
    transform: scale(2);
    margin-right: 20px;
    margin-bottom: 15px;
  }

  input[type='datetime-local']{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
  }

  button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    
    &:hover{
      background-color: lightgray;
    }
  }

}